@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #f2e3df;
}

#logo{
    margin-top: 3vh;
    width: 20vw;
}

#msg{
    font-family: 'JetBrains Mono', monospace;
    font-size: 2vw;
    color: #1a1c1a;
    margin: 2vh;
}