@font-face {
  font-family: 'Helvetica Now Display Bold';
  src: url(../assets/fonts/HelveticaNowDisplay-Bold.woff2);
}
@font-face {
  font-family: 'Helvetica Now Display Medium';
  src: url(../assets/fonts/HelveticaNowDisplay-Medium.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f2e3df;
  background-color: #121212;
}
