#mainWrap {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(6, 1fr);
  grid-template-areas:
    'a a a a a a'
    'b b b b b b';
  gap: 2rem;

  #header {
    grid-area: a;
    padding: 1rem;

    #titleMain {
      font-family: 'Helvetica Now Display Bold', sans-serif;
      font-weight: bold;
      font-size: 10vw;
      color: #f2f2f2;
      justify-self: flex-start;
      align-self: center;
    }
    #msg {
      place-self: center;
      color: #f2f2f2;
      font-family: 'Helvetica Now Display Medium', sans-serif;
      font-size: 6vw;
      text-transform: uppercase;
    }
  }

  #info {
    grid-area: b;
    padding: 1rem;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 1rem;
    grid-template-areas:
      'xx xx yy'
      'xx xx zz';
    width: 75vw;

    .infoItems {
      aspect-ratio: 4 / 3;
      width: 100%;
      border-radius: 0.3rem;
    }

    #mainImg {
      grid-area: xx;
    }

    #flagGB {
      grid-area: yy;
    }

    #flagDK {
      grid-area: zz;
    }
  }
}
